/*input*/
/*frame*/
    .input {
        height: 6%;
    }
    .inputing {
        width: 100%;
        height: 100%;
        padding: 0 12px;/*暂定*/
    }
    .checkbox {
        width: 100%;
        position: absolute;
        bottom: 35px;/*暂定*/
        z-index: 999;
    }
    .checkline {
        min-height: 35px;
        padding: 0 20px;/*待定*/
    }

/*styleSet*/
    .inputing {
        background: #fff;
        color: #b0b0b0;
        font-size: 90%;
        line-height: 35px;
    }
    .checkline {
        background: #fbfafb;
        color: #4b83cd;
        line-height: 35px;
    }
    .checkline+.checkline {
        border-top: 0.5px solid #e2e2e2;
    }
